/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #111; */ /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
    /* padding-top: 60px; */ /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    /* transition: width 1.5s; */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.navbar-button {
	background-color: black;
	padding: 5px;
	border-radius: 0 8px 8px 0;
	transition: width;
	font-size:24px;
	color:white;
	cursor: pointer;
}

.navbar-button:hover {
	background-color: DimGray;
}

.navbar-menu {
	height: 100%;
	background-color: #111;
}

.sidebar-menu {
	display: none;
}

.wrapper-obscure {
  padding: 2.5em;
  margin: 0 auto;
}

.dimmer-obscure {
    background: linear-gradient(to right, #111, rgba(17, 17, 17, 0.8),  rgba(17, 17, 17, 0.001));
    opacity: 1;
    /* width: 100%; */
    height: 100%;
    z-index: 100;
}

.dim-obscure {
  display: block;
  margin: 2em auto;
  z-index: 200;
}

